.Companies {
    margin: 2rem;
  }
  
  .Companies h1 {
    color: #007bff; 
  }
  
  .Companies div {
    margin-bottom: 1rem;
  }
  
  .Companies h2 {
    color: #007bff; 
    margin-bottom: 0.5rem;
  }
  
  .Companies p {
    color: #333;
  }
  

  