* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus {
 outline-color: #FFFFFF;
}

.wrapper{
  margin: 250px auto;
  max-width: 300px;
}

body {
  background: linear-gradient(to right, #FFCF07, #FE5A1D);
  font-size: 20px;
}

input {
 font-size: 20px;
 border: none;
}

.search-container {
 /* display: block; */
 /* position: relative; */
 background-color: #FFA80F;
}

.search-container input,
.search-container .suggestions {
  font-family:Arial, sans-serif;
  color: rgb (0 , 0, 0);

}
.search-container input {
  background-color: #FFA80F;
  height: 50px;
  width: 100%;
  /* outline: none; */
  /* border: none; */
  /* border-radius: 5px; */
}
.search-container .suggestions {
  /* padding: 0; */
  opacity: 1;
  
}

ul {
  list-style-type: none;
  font-size: 20px;
}

/* ul.has-suggestions { */
  /* TODO */
/* } */

ul li {
  text-align: left;
  /* padding: 5px, 10px; */
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  
}

ul li:hover {
  background-color: #FE5A1D;
  font-weight: bold;
}

/* input { */
   /* TODO */
/* } */