#game div {
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
  }


.red.clicked{
  background-color: red;
}

.blue.clicked{
  background-color: blue;
}

.green.clicked{
  background-color: green;
}

.orange.clicked{
  background-color: orange;
}

.purple.clicked{
  background-color: purple;
}


